<mat-toolbar>
    <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>
            auto_stories
        </mat-icon>
        Reservas
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/reservas/crear'">
            <mat-icon>add</mat-icon>
            <span>Crear Reserva</span>
        </button>
        <button mat-menu-item [routerLink]="'/reservas/confirmar'">
            <mat-icon>check</mat-icon>
            <span>Confirmar reservas</span>
        </button>
    </mat-menu>


    <a routerLink="/mesas" mat-button>
        <mat-icon>
            table_restaurant
        </mat-icon>
        Mesas
    </a>
    <a routerLink="/ubicaciones" mat-button>
        <mat-icon>
            pin_drop
        </mat-icon>
        Ubicaciones
    </a>
    <a routerLink="/horarios" mat-button>
        <mat-icon>
            schedule
        </mat-icon>
        Horarios
    </a>
</mat-toolbar>