form,
.contenedor-mesas-disponibles {
  background-color: white;
  padding: 25px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  margin-top: 15px;

  h3 {
    margin: 0;
    margin-bottom: 15px;
    font-weight: 400;
  }
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;

  mat-radio-button {
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;

    span {
      font-size: 16px;
    }
  }
}

.limpiar {
  margin-right: 10px;
}