/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #F5F5F5;}

:root{
    --titulo-color: #015CDD;
}

mat-form-field{
    display: block !important;
}

